@{
    Layout = "_Layout";
}

@model Factory.Models.Engineer

<div class="container">
    <h1>Add Engineer to a Machine</h1>
</div>
<hr />
<div class="container">
    <h4>Add @Html.DisplayFor(model => model.EngineerName) to an engineer: </h4>
</div>

@using (Html.BeginForm())
{<div class="form-container">
    @Html.HiddenFor(model => model.EngineerId)
    <div>
        @Html.Label("Select Engineer: ")
        @Html.DropDownList("MachineId", ViewBag.MachineId as SelectList)
    </div>
</div>
<div class="center">
    <input type="submit" value="Save" />
</div>
}
<hr />
<div class="link-container">
    <p>@Html.ActionLink("Back to All Machines", "Index")</p>
    <p>@Html.ActionLink("Return Home", "Index", "Home")</p>
</div>